@font-face {
  font-family: 'shepherd';
  src:  url('../shepherd.eot?u8ju9b');
  src:  url('../shepherd.eot?u8ju9b#iefix') format('embedded-opentype'),
    url('../shepherd.ttf?u8ju9b') format('truetype'),
    url('../shepherd.woff?u8ju9b') format('woff'),
    url('../shepherd.svg?u8ju9b#shepherd') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="zijin-icon-"], [class*=" zijin-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shepherd' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zijin-icon-versionManager:before {
  content: "\e600";
}
.zijin-icon-report:before {
  content: "\e601";
}
.zijin-icon-caseTrace:before {
  content: "\e602";
}
.zijin-icon-devMonitor:before {
  content: "\e603";
}
.zijin-icon-devManage:before {
  content: "\e604";
}
.zijin-icon-retainCard:before {
  content: "\e605";
}
.zijin-icon-systemManage:before {
  content: "\e606";
}
.zijin-icon-caret:before {
  content: "\e607";
}
.zijin-icon-checkboxchecked:before {
  content: "\e608";
}
.zijin-icon-checkboxpartial:before {
  content: "\e609";
}
.zijin-icon-carethalf:before {
  content: "\e60a";
}
.zijin-icon-cash-status:before {
  content: "\e60b";
}
.zijin-icon-run-status:before {
  content: "\e60c";
}
.zijin-icon-mod-status:before {
  content: "\e60d";
}
.zijin-icon-signal-status:before {
  content: "\e60e";
}
.zijin-icon-calendar:before {
  content: "\e61c";
}
.zijin-icon-file:before {
  content: "\e621";
}
.zijin-icon-files:before {
  content: "\e622";
}
.zijin-icon-checkmark:before {
  content: "\e63e";
}
.zijin-icon-checkmark3:before {
  content: "\e63f";
}
.zijin-icon-cancel:before {
  content: "\e640";
}
.zijin-icon-cancel2:before {
  content: "\e641";
}
.zijin-icon-options:before {
  content: "\e648";
}
.zijin-icon-cogs:before {
  content: "\e649";
}
.zijin-icon-checkmark4:before {
  content: "\e65f";
}
.zijin-icon-cancel3:before {
  content: "\e660";
}
.zijin-icon-eye:before {
  content: "\e661";
}
.zijin-icon-position:before {
  content: "\e662";
}
.zijin-icon-tree2:before {
  content: "\e663";
}
.zijin-icon-tree:before {
  content: "\e664";
}
.zijin-icon-chart:before {
  content: "\e667";
}
.zijin-icon-chart2:before {
  content: "\e668";
}
.zijin-icon-chart22:before {
  content: "\e669";
}
.zijin-icon-chart32:before {
  content: "\e66a";
}
.zijin-icon-chart3:before {
  content: "\e66b";
}
.zijin-icon-chart1:before {
  content: "\e66c";
}
.zijin-icon-location:before {
  content: "\e66d";
}
.zijin-icon-trashcan:before {
  content: "\e67b";
}
.zijin-icon-locked:before {
  content: "\e697";
}
.zijin-icon-unlocked:before {
  content: "\e698";
}
.zijin-icon-stack:before {
  content: "\e69e";
}
.zijin-icon-stack2:before {
  content: "\e69f";
}
.zijin-icon-stack3:before {
  content: "\e6a0";
}
.zijin-icon-screwdriver:before {
  content: "\e6d7";
}
.zijin-icon-equalizer:before {
  content: "\e6e3";
}
.zijin-icon-stats:before {
  content: "\e6ee";
}
.zijin-icon-stats2:before {
  content: "\e6ef";
}
.zijin-icon-profile1:before {
  content: "\e6fa";
}
.zijin-icon-profile2:before {
  content: "\e6fb";
}
.zijin-icon-profile:before {
  content: "\e6fc";
}
.zijin-icon-bookmark:before {
  content: "\e70d";
}
.zijin-icon-addressbook:before {
  content: "\e70e";
}
.zijin-icon-emailbook:before {
  content: "\e70f";
}
.zijin-icon-presentation:before {
  content: "\e715";
}
.zijin-icon-rocket:before {
  content: "\e72b";
}
.zijin-icon-printer:before {
  content: "\e741";
}
.zijin-icon-pictures:before {
  content: "\e747";
}
.zijin-icon-rar:before {
  content: "\e74f";
}
.zijin-icon-zip:before {
  content: "\e750";
}
.zijin-icon-clipboard:before {
  content: "\e759";
}
.zijin-icon-clipboardSelect:before {
  content: "\e75a";
}
.zijin-icon-clipboard2:before {
  content: "\e75b";
}
.zijin-icon-power:before {
  content: "\e75c";
}
.zijin-icon-ruler:before {
  content: "\e75d";
}
.zijin-icon-folder-open:before {
  content: "\e75e";
}
.zijin-icon-settings2:before {
  content: "\e760";
}
.zijin-icon-systemManage1:before {
  content: "\e762";
}
.zijin-icon-cardRetain:before {
  content: "\e763";
}
.zijin-icon-terminalLog:before {
  content: "\e764";
}
.zijin-icon-home:before {
  content: "\e765";
}
.zijin-icon-eye1:before {
  content: "\e766";
}
.zijin-icon-zjft:before {
  content: "\e767";
}
.zijin-icon-user:before {
  content: "\e7d9";
}
.zijin-icon-users:before {
  content: "\e7da";
}
.zijin-icon-user-plus:before {
  content: "\e7db";
}
.zijin-icon-user-minus:before {
  content: "\e7dc";
}
.zijin-icon-user-check:before {
  content: "\e7dd";
}
.zijin-icon-user-tie:before {
  content: "\e7de";
}
.zijin-icon-icon_screen:before {
  content: "\e900";
}
.zijin-icon-icon_theme_customize:before {
  content: "\e901";
}
.zijin-icon-icon_theme_setting:before {
  content: "\e902";
}
.zijin-icon-addnotes_maintain:before {
  content: "\e903";
}
.zijin-icon-hzbank_logo:before {
  content: "\e904";
}
.zijin-icon-detailQuery:before {
  content: "\e905";
}
.zijin-icon-dashboard:before {
  content: "\e906";
}
.zijin-icon-funnel:before {
  content: "\e907";
}
.zijin-icon-histogram:before {
  content: "\e908";
}
.zijin-icon-kLine:before {
  content: "\e909";
}
.zijin-icon-line:before {
  content: "\e90a";
}
.zijin-icon-map:before {
  content: "\e90b";
}
.zijin-icon-pie:before {
  content: "\e90c";
}
.zijin-icon-radar:before {
  content: "\e90d";
}
.zijin-icon-relation:before {
  content: "\e90e";
}
.zijin-icon-relationTree:before {
  content: "\e90f";
}
.zijin-icon-sankey:before {
  content: "\e910";
}
.zijin-icon-scatter:before {
  content: "\e911";
}
.zijin-icon-thermo:before {
  content: "\e912";
}
.zijin-icon-business:before {
  content: "\e913";
}
.zijin-icon-icon_home:before {
  content: "\e914";
}
.zijin-icon-monitor:before {
  content: "\e915";
}
.zijin-icon-system:before {
  content: "\e916";
}
.zijin-icon-dataMining:before {
  content: "\e917";
}
.zijin-icon-development:before {
  content: "\e918";
}
.zijin-icon-gis:before {
  content: "\e919";
}
.zijin-icon-monitor2:before {
  content: "\e91a";
}
.zijin-icon-multianalysis:before {
  content: "\e91b";
}
.zijin-icon-logo:before {
  content: "\e91c";
}
.zijin-icon-addnotesPlan:before {
  content: "\e91d";
}
.zijin-icon-repo:before {
  content: "\f001";
}
.zijin-icon-repo-push:before {
  content: "\f005";
}
.zijin-icon-repo-pull:before {
  content: "\f006";
}
.zijin-icon-cloud-download:before {
  content: "\f00b";
}
.zijin-icon-cloud-upload:before {
  content: "\f00c";
}
.zijin-icon-file-zip:before {
  content: "\f013";
}
.zijin-icon-file-pdf:before {
  content: "\f014";
}
.zijin-icon-person:before {
  content: "\f018";
}
.zijin-icon-gear:before {
  content: "\f02f";
}
.zijin-icon-tools:before {
  content: "\f031";
}
.zijin-icon-organization:before {
  content: "\f037";
}
.zijin-icon-report-graph:before {
  content: "\f043";
}
.zijin-icon-credit-card:before {
  content: "\f045";
}
.zijin-icon-repo-clone:before {
  content: "\f04c";
}
.zijin-icon-eye2:before {
  content: "\f04e";
}
.zijin-icon-calendar2:before {
  content: "\f068";
}
.zijin-icon-checklist:before {
  content: "\f076";
}
.zijin-icon-settings:before {
  content: "\f07c";
}
.zijin-icon-pulse:before {
  content: "\f085";
}
.zijin-icon-telescope:before {
  content: "\f088";
}
.zijin-icon-microscope:before {
  content: "\f089";
}
.zijin-icon-file-binary:before {
  content: "\f094";
}
.zijin-icon-database:before {
  content: "\f096";
}
.zijin-icon-floppy-o:before {
  content: "\f0e3";
}
.zijin-icon-plus-square:before {
  content: "\f117";
}
